body {
    background-color: rgb(240, 242, 245);
    direction: ltr;
    line-height: 1.34;
    margin: 0px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    text-align: center;
}


/* Meio */
#meio {
    padding-top: 72px;
    padding-bottom: 112px;
    width: 100%;
    position: relative;
    display: inline-block;
}

#meio .conteudo {
    display: inline-block;
    height: 496px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: start;
}

#banner {
    height: 314px;
    width: 580px;
    font-size: 28px;
    display: inline-block;
    position: relative;
    text-align: start;
}

#conteinerlogo {
    padding: 112px 0 16px;
}

#logo {
    height: 106px;
    margin: -28px;
}

#texto {
    bottom: 0;
    padding-bottom: 37px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    line-height: 32px;
}

#pausamenor {
    display: none;
}

@media screen and (max-width: 1078px) {

    #meio .conteudo {
        width: 91%;
    }

    #banner {
        font-size: 24px;
        width: 368px;
    }

    #texto {
        line-height: 28px;
    }
}

@media screen and (max-width: 900px) {
    #meio {
        padding-top: 0;
    }
    #meio .conteudo {
       text-align: center; 
    }

    #conteinerlogo {
        display: block;
        padding: 0;
        margin-bottom: -10px;
    }

    #logo {
        margin: 0;
    }

    #pausa {
        display: none;
    }

    #pausamenor {
        display: inherit;
    }

    #banner {
        display: block;
        width: 100%;
        text-align: center;
        height: auto;
    }

    #texto {
        display: inline-block;
        width: 400px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 600px) {
    #texto {
        display: none;
    }
}

/* Janela de Login */

#login {
    width: 396px;
    height: 456px;
    float: right;
    padding-bottom: 24px;
    padding-top: 10px;
    margin: 40px 0 0;
    text-align: center;
}

#login #janela {
    width: 396px;
    padding-top: 10px;
    padding-bottom: 24px;
    position: relative;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    width: 396px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#campos {
    display: inline-block;
}

.conteiner {
    font-size: 17px;
    width: 364px;
    display: inline-block;
    padding: 6px 0;
    margin: 0 auto;
}

#email, #senha {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color:rgb(144,148,156);
    outline: none;
}

#email:focus, #senha:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1877f2;
    color: rgb(194,203,211);
}

#conteiner1 {
    padding-top: 6px;

}

#entrar {
    line-height: 48px;
    width: 364px;
    font-size: 20px;
    padding: 0 16px;
    border-radius: 6px;
    background-color: #1877f2;
    color: white;
    font-weight: bold;
    border: none;
}

#separador {
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
}

#entrar2 {
    line-height: 48px;
    font-size: 17px;
    padding: 0 16px;
    border-radius: 6px;
    background-color: #42b72a;
    color: white;
    font-weight: bold;
    border: none;
}

#criarpagina {
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    margin-top: 28px;
}

#linkpagina {
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #1c1e21;
    text-decoration: none;
}

#conteiner2 {
    margin-top: 16px;

}

#conteiner3 {
    padding-top: 6px;
}

#senha2 {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
}

@media screen and (max-width: 900px) {
    #login {
        display: inline-block;
        float: none;
        height: auto;
    }
}

@media screen and (max-width: 480px) {

    body {
        background-color: rgb(255, 255, 255);
    }

    #login, #meio .conteudo, #meio {
        width: 100%;
    }

    #login #janela {
        width: 100%;
        box-shadow: none;
        text-align: center;
    } 

}

@media screen and (max-width: 400px) {


    #entrar {
        width: 91%;
    }

    #campos {
        width: 91%;
    }

    .conteiner {
        width: 100%;
    }

    #email, #senha {
        width: calc(100% - 32px);
    }
}

/*Rodapé*/

#rodape {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 100%;
}

#rodape .conteudo {
    max-width: 980px;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 20px;
    margin: 0 auto;
}

#conteinerlista1 {
    width: 100%;
    line-height: 16px;
    padding-top: 8px;
    display: inline-block;
}

#conteinerlista2 {
    direction: ltr;
    margin-left: -40px;
    margin-top: -8px;
    display: inline-block;
}

#lista1 {
    margin: 0;
    margin-left: -40px;
    color: #8a8d91;
}


#lista1 li {
    float: left;
    padding-right: 10px;
    list-style-type: none;
    font-size: 12px;
    overflow-wrap: normal;
    cursor: pointer;
    justify-content: start;
}

#item1 {
    color: rgb(115, 115, 115)
}

#lista2 li {
    float: left;
    padding-right: 20px;
    padding-bottom: 3px;
    list-style-type: none;
    font-size: 12px;
    color: #8a8d91;
    overflow-wrap: normal;
    cursor: pointer;
}

#lista1 li:hover {
    text-decoration: underline;
}

#separador2 {
    border-bottom: 1px solid #dadde1;
    margin: 5px 5px;
}

#conteinericone1 {
    width: 12px;
    height: 18px;
    padding: 0 8px;
    border: solid 1px rgb(204, 208, 213);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
}

#conteinericone1:active {
    background-color: #dddfe2;
    border-color: #bec3c9;
}

#icone1 {
    background-image: url(icons/icons.png);
    background-position: -15px -655px;
    background-size: 56.94px 679.32px;
    width: 12px;
    height: 12px;
    margin: 3px 0px;
    display: inline-block;
}

#anuncios {
    padding-right: 16px;
    background-image: url(icons/icons2.png);
    background-position: 128px -75px;
    background-size: 180px;
    background-repeat: no-repeat;
}

#copyright {
    font-size: 11px;
    color: #737373;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: start;
}

@media screen and (max-width: 1078px) {
    #rodape ,conteudo {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    #rodape, .conteudo {
        display: none;
    }

    #meio {
        padding-bottom: 0px;
    }

    #login {
        padding-bottom: 0;
        margin-top: 20px;
    }
}
